<section class="products-container" *ngIf="slicedProducts">

  <h1 class="section-title">Electronics</h1>

  <div class="top-section-actions">
    <div class="top-section-actions-left">
      <span class="products-counter">
        {{ ((currentPage - 1) * this.itemsPerPage) + itemsPerPage }} of {{ products.length }}
      </span>
    </div>

    <div class="top-section-actions-right">
      <div class="sort-actions">
        <span>Sort by</span>
        <select class="sort-select" name="sort-by" (change)="onSortProducts($event.target.value)">
          <option class="sort-option recent" [value]="productsSortEnum.recent">Most recent</option>
          <option class="sort-option lowest" [value]="productsSortEnum.lowest">Lowest price</option>
          <option class="sort-option highest" [value]="productsSortEnum.highest">Highest price</option>
        </select>
      </div>
  
      <div class="navigation-arrows">
        <button (click)="pageChange('prev')" [disabled]="currentPage === 1"> 
          prev
          <!-- <i>
            <img src="assets/back.svg" alt="arrow-back">
          </i> -->
        </button>
        <button (click)="pageChange('next')" [disabled]="currentPage === numberOfPages"> 
          next
          <!-- <i>
            <img src="assets/next-1.svg" alt="arrow-next">
          </i> -->
        </button>
      </div>
    </div>
  </div>

  <hr class="separator">

  <section class="products-list">
      <app-product-item class="product-item" 
        *ngFor="let product of slicedProducts"
        [product]="product"
      ></app-product-item>
  </section>
</section>