<section *ngIf="!slicedProducts || !userData">
  loading...
</section>

<section class="products-container" *ngIf="slicedProducts && userData">

  <h1 class="section-title">Electronics</h1>

  <div class="top-section-actions">
    <div class="top-section-actions-left">
      <span class="products-counter">
        {{ ((currentPage - 1) * this.itemsPerPage) + itemsPerPage }} of {{ products.length }}
      </span>
    </div>

    <div class="top-section-actions-right">
      <div class="sort-actions" (click)="toggleDisplayDropdown()">
        <span class="sort-by">Sort by</span>

        <div class="sort-dropdown">
          <span class="current-sort-option" *ngIf="currentSortOption"> 
            {{ currentSortOption }} 
          </span>
          <span class="arrow-down">
            <i class="arrow-icon"></i>
          </span>
        </div>
        <ul class="sort-by-list" *ngIf="displayDropdown">
          <li class="sort-option recent" 
            (click)="onSortProducts(productsSortEnum.recent.value)">
            <span> Most recent </span> 
          </li>
          <li class="sort-option lowest" 
            (click)="onSortProducts(productsSortEnum.lowest.value)">
            <span> Lowest price </span> 
          </li>
          <li class="sort-option highest" 
            (click)="onSortProducts(productsSortEnum.highest.value)">
            <span> Highest price </span> 
          </li>
        </ul>
      </div>
  
      <div class="navigation-arrows">
        <button (click)="pageChange('prev')" [disabled]="currentPage === 1"> 
          <i class="icon-back"></i>
        </button>
        <button (click)="pageChange('next')" [disabled]="currentPage === numberOfPages"> 
          <i class="icon-next-1"></i>
        </button>
      </div>
    </div>
  </div>

  <section class="products-list">
    <app-product-item class="product-item" 
      *ngFor="let product of slicedProducts"
      [product]="product"
      [userData]="userData"
    ></app-product-item>
  </section>
</section>