<header>
  <div class="logo-container">
    <img src="assets/aerolab-logo.svg" alt="aerolab-kite-logo">
  </div>

  <div class="user-info-container"  *ngIf="userData">
    <div class="user-info">
      <div class="user-icon-container">
        <i class="icon-avatar"></i>
      </div>
      <div class="user-details-container">
        <p class="user-name">{{ userData.name }}</p>
        <p class="user-points">{{ userData.points }}</p>
      </div>
    </div>
  
    <div class="user-dropdown">
      <button (click)="onGetMorePoints()">Get more points</button>
    </div>
  </div>
</header>