.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 2px 8px #e4e4e4;
    border-radius: 8px;
    padding: 1rem;
    background-color: #fff;
    position: relative;
    height: 100%;
    box-sizing: border-box;

    .fav-container {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1.2rem;

      i {
        color: #4e4e4e;
        font-size: 1.4rem;
      }
    }

    .product-image-container {
        width: 100%;
        margin-bottom: 0.8rem;
        
        .product-image {
            width: 100%;
        }
    }

    .product-details-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0.5rem;

        .product-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
                margin: 0;
                font-weight: 800;

                &.product-name {
                    // color: #4e4e4e;
                    color: orange;
                    font-size: 14px;
                    padding-bottom: 0.2rem;
                }

                &.product-category {
                    font-size: 12px;
                    color: gray;
                }
            }
        }

        .product-cost {
            margin: 0;
            display: flex;
            align-items: center;
        }
    }

    .product-hover {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
      z-index: 1;
      border-radius: 8px;
      width: 100%;
      height: 100%;

      p {
        &.missing-points-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #fff;
          font-size: 0.8rem;
          font-weight: 700;
        }
      }
    }
    
    &:hover {
      cursor: pointer;
      
      .fav-container {
        z-index: 2;
            
        i {
          color: #fff;
        }

        &:hover {
          cursor: pointer;
        } 
      }

      &.affordable {        
        .product-details-container {        
          z-index: 2;

          .product-details {
            p {
              color: #fff;
            }
          }
  
          .product-cost {
            color: #fff;
          }
        }

        .product-hover {
          background-color: rgba(255, 166, 0, 0.6);

          button {
            &.redeem-button {
              border: none;
              background-color: #fff;
              border-radius: 30px;
              padding: 1rem;
              // color: orange;
              color: #4e4e4e;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 0.9rem;
              box-shadow: 0px 1px 6px #e4e4e4;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
      
      &.not-affordable {        
        .product-hover {
          background-color: rgba(171, 171, 171, 0.8);

          p {
            font-size: 1rem;
          }
        }
      }
      
      .product-hover {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
      }

    }
}
