<article *ngIf="product && userData !== null" 
  class="product" 
  [ngClass]="productIsAffordable ? 'affordable' : 'not-affordable'"
>

  <div class="fav-container">
    <i class="icon-star"></i>
  </div>

  <div class="product-image-container">
    <img class="product-image" [src]="product.img.url" [alt]="product.name">
  </div>

  <div class="product-details-container">
    <div class="product-details">
      <p class="product-name">{{ product.name }}</p>
      <p class="product-category">{{ product.category }}</p>
    </div>
    
    <p class="product-cost">
      <i class="icon-coin"></i>
      <span>
        {{ product.cost }}
      </span>
    </p>
  </div>

  <button class="redeem-button" 
    (click)="onRedeemProduct(product)"
    [disabled]="!productIsAffordable"
  >
    {{ productIsAffordable ? 'Redeem product' : 'You need ' + missingPoints + ' points.' }}
  </button>
</article>
