/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body {
  margin: 0;
  background-color: #f7f7f7;
}

body > * {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
